<!DOCTYPE html>
<html>
<head>
    <title>OptiCrop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/findyourcrop">FindYourCrop</a>
</div>

<div class="hero">

    <div class="overlay">

        <h1>Opti-Crop</h1>

        <p>
            Smart Agricultural Production Optimization
        </p>

    </div>

</div>

<div class="content">

<h2>Opti Crop Agricultural Optimisation</h2>

<p>
The OptiCrop system recommends the most suitable crop using Nitrogen,
Phosphorous, Potassium, Temperature, Humidity, pH, and Rainfall values
through Machine Learning.
</p>

</div>

</body>

</html>
